body {
  background: #4d4b4b;
} 



.blueprint-content {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 80%;
  min-height: 150vh;
}
.signin-form {
  position: absolute;
  margin: 400px 400px;
}


.no-results {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.no-results p {
  text-align: center;
  font-family: "inter";
  color: white;
}

/* Pagination Bar */ 

.pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.pagination button {
  margin: 80px 4px;
  border: none;
  font-size: 15px;
  transition: .3s;
  color: #FFF;
  background: none;
}

.pagination button:hover {
  color: rgb(194, 194, 194);
}

/* Search Container */

.search-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin: 200px 0 100px 0;
}

.search-container input {
  font-family: "inter";
  width: 700px;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  padding-left: 20px;
  box-shadow: rgb(0, 0, 0) 8px 0px 4px -8px inset, rgb(0, 0, 0) -8px 0px 4px -8px inset, rgb(0, 0, 0) 0px -9px 2px -8px inset, rgb(0, 0, 0) 0px 0px 4px 0px;
}

.search-container button {
  font-family: "inter";
  font-weight: 600;
  letter-spacing: .4px;
  width: 150px;
  margin-left: 20px;
  border: none;
  background-color: rgb(101, 255, 87);
  font-size: 15px;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 8px 0px 4px -8px inset, rgb(0, 0, 0) -8px 0px 4px -8px inset, rgb(0, 0, 0) 0px -9px 2px -8px inset, rgb(0, 0, 0) 0px 0px 4px 0px;
  
}



.test {
  width: 100%;
  height: 200px;
}

.result-text {
  color: rgb(255, 255, 255);
  font-family: "inter";
  font-weight: 400;
}

.sort-container {
  display: flex;
  justify-content: space-between;
}

.sorting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "inter";
  font-size: 16px;
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background-color: #8e8e8e;
  box-shadow: rgb(0, 0, 0) 8px 0px 4px -8px inset, rgb(0, 0, 0) -8px 0px 4px -8px inset, rgb(0, 0, 0) 0px -9px 2px -8px inset, rgb(0, 0, 0) 0px 0px 4px 0px;
  color: rgb(0, 0, 0);
}

.sorting-button:hover {
  background-color: #f9b44b;
  transition: .5s;
}

.sorting-button select {
  font-family: "inter";
  font-size: 16px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  outline: none;
}