/* Styling for the Blueprint Card container */

.BlueprintCard {
    text-decoration: none;
}

.BlueprintCard li {
    font-family: "inter";
    background-color: var(--gray-background-color);
    display: flex;
    flex-direction: column;
    box-shadow: inset 3px 0 3px -3px #201815, inset 2px 0 2px -2px #201815, inset 1px 0 1px -1px #201815, inset 0 3px 3px -3px #8f8c8b, inset 0 2px 2px -2px #8f8c8b, inset 0 1px 1px -1px #8f8c8b, inset -3px 0 3px -3px #201815, inset -2px 0 2px -2px #201815, inset -2px 0 1px -1px #201815, inset 0 -3px 3px -3px #000, inset 0 -2px 2px -2px #000, inset 0 -1px 1px -1px #000, 0 0 2px 0 #201815, 0 0 4px 0 #201815;
    color: #fff;
    transition: .3s;
    align-items: center;
}

/* Set the size and add shadow for image */
.BlueprintImage {
    display: flex;
    justify-content: center;
}

.BlueprintImage img {
    width: calc(100% - 30px);
    margin-top: 15px;
    box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b, 0 1px 1px -1px #8f8c8b;
}

/* Styling for the text container */
.BlueprintTextContainer {
    color: #fff;
    transition: .3s;
    margin: 10px 0 10px 0;
    background: var(--darkgray-background-color);
    width: calc(100% - 30px);
    box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b, 0 1px 1px -1px #8f8c8b;
    padding-bottom: 5px;
}

/* Set text properties of the blueprint title */
.BlueprintTextContainer h1 {
    font-size: 25px;
    padding: 0;
    font-weight: 400;
    margin: 10px 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
}

/* Set text properties of the blueprint description */
.BlueprintTextContainer p {
    
    font-size: 14px;
    margin: 0 0 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
}

/* Styling for lower div of the blueprint card */
.BlueprintLowerContainer {
    font-weight: 400;
    font-size: 14px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
}

/* Align the like button and likes count */
.BlueprintLikesContainer {
    display: flex;
    align-items: center;
}

.BlueprintLikesContainer p {
    color: #fff;
    margin-left: 5px;
}

.BlueprintLikesContainer button {
    background: none;
    border: none;
    color: #fff;
    border-radius: 200px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlueprintCard li:hover {
    background-color: var(--gray-background-hover-color);
}

.BlueprintCard:hover .BlueprintTextContainer {
    background-color: var(--darkgray-background-hover-color);
}

.BlueprintLikesContainer button:hover {
    transition: .5s;
    background-color: var(--gray-icon-button-color);
}

