@import "./Globals.scss";
@import "./BlueprintCard.module.scss";

// include the standard Blueprint Card Styles
@include blueprintCard();

.BlueprintLowerContainer {
    button {
        @include iconButtonStandards();
        box-shadow: $outerBoxShadow;
    }

    .deleteBlueprintBtn {
        margin-left: auto;
        background-color: #FF5B5B;
    }
    
    .publishBlueprintBtn {
        margin-left: 5px;
        background-color: #F5F5F5;
    }
    
    .editBlueprintBtn {
        margin-left: 5px;
        background-color: #FFCF52;
    }
    
    .editBlueprintBtn:hover::after,
    .deleteBlueprintBtn:hover::after,
    .publishBlueprintBtn:hover::after {
        opacity: 1;
    }
    
    .editBlueprintBtn::after {
        @include hoverInformation("Edit");
        margin-top: 70px;
    }
    
    .deleteBlueprintBtn::after {
        @include hoverInformation("Delete");
        margin-top: 70px;
    }
    
    .publishBlueprintBtn::after {
        @include hoverInformation("Publish");
        margin-top: 70px;
    }
    
    .editBlueprintBtn:active,
    .publishBlueprintBtn:active,
    .deleteBlueprintBtn:active {
        box-shadow: $innerBoxShadow;
    }

    .BlueprintStats {
        display: flex;
        flex-direction: column;
    }
    
    .BlueprintStats p {
        margin: 2px 0;
    }
    
}