@import "./Globals.scss";

.bodyContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/background-2.jpg");
    width: 100%;
    min-height: 100vh;
}

.signInForm {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 420px;
    margin-top: 180px;
    background-color: rgb(37, 37, 37);
    box-shadow: $outerBoxShadow;
    color: white;
    display: flex;
    padding: 40px;
    flex-direction: column;

    input {
        height: 45px;
        padding-left: 20px;
        margin: 10px 0;
        box-shadow: $outerBoxShadow;
        border: none;
        outline: none;
    }

    button {
        font-size: 14px;
        height: 50px;
        border: none;
        border-radius: 5px;
        box-shadow: $outerBoxShadow;
    }

    button:hover {
        box-shadow: $innerBoxShadow;
    }
}

.textContainer {
   margin-bottom: 10px;

   h1 {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
   }

   p {
    font-size: 22px;
    color: #FFE6C0;
    margin: 0;
   }
}

.middleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;

    hr {
        width: 100%;
    }

    p {
        margin: 0 10px;
    }
}

.signInBtn {
    margin-top: -10px;
    background-color: var(--green-button-color);
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.forgotPasswordLink {
    margin: -10px 0 10px auto;
}

.registerLink {
    margin: 20px auto 10px auto;
}

.signInWithGoogleBtn {
    @include centerAlignment();
    font-family: "inter", sans-serif;
    margin: 10px 0;

    p {
        font-weight: 500;
        margin-left: 30px;
    }

    img {
        width: 32px;
    }
}

.signInWithSteamBtn {
    @include centerAlignment();
    background-color: #17212C;
    color: white;
    margin: 10px 0;
    font-family: "inter", sans-serif;

    p {
        font-weight: 400;
        margin-left: 30px;
    }

    img {
        width: 32px;
    }
}