@import "./Globals.scss";

.bodyContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/background-2.jpg");
    width: 100%;
    min-height: 100vh;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 420px;
    background: rgb(35, 35, 35);
    box-shadow: $outerBoxShadow;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 200px;
    color: white;
    align-items: center;

    img {
        width: 150px;
    }

    h1 {
        font-weight: 400;
        margin: 15px 0 5px 0;
    }

    p {
        font-size: 14px;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    button {
        font-family: "inter";
        font-weight: 500;
        margin: 20px 0 40px 0;
        background-color: var(--green-button-color);
        border: none;
        box-shadow: $outerBoxShadow;
        padding: 15px 20px;
    }

    button:hover {
        box-shadow: $innerBoxShadow;
    }   
}